body {
    background: #C6FFDD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.wrapper {
    width: 300px;
    text-align: center;
    height: 206px;
    margin-top: 90px;
}
.changeColorBtn {
    width: 125px;
    outline: none;
    border: none;
    border-radius: 230px;
    padding: 48px;
    background: #78cbd8;
    cursor: pointer;
}
.colorGrid {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 2px;
}
.selectedColor {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.colorValue {
    margin-left: 5px;
    font-weight: bold;
}
